.portraits { 
    list-style: none; padding: 0px; text-align: center; 
}
.portraits li { padding: 0px; margin: 10px; display: inline-block; }

body {
    background: #eee url(res/Tweed_UV_H_CM_1_400.jpg);
    font-family: 'Trebuchet MS', sans-serif;
    font-family: 'Old Standard TT', serif;
    font-size: 14px;
}

a {
    color: #26776F;
}

a:hover {
    color: #333;
}

input[type="text"],
input[type="password"] {
    background: white;
    border: 1px solid #BFE6E2;
    padding: 2px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #105751;
}

input[type="submit"] {
    background: #105751;
    border: 1px solid #073B36;
    padding: 1px 3px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
}

div.page {
    background: #f0f0f0;
    width: 90%;
    margin: 30px auto;
    margin-top:15px;
    padding: 20px;
    border-left: 18px solid #999;
    border-right: 18px solid #aaa;
    border-top: 18px solid #bbb;
    border-bottom: 18px solid #777;
    opacity: 0.85;
}

div.page h1.title {
    background: none;
    margin: 0;
    padding: 10px 14px;
    color: #777;
    letter-spacing: 1px;
    text-shadow: 16px -29px 3px #ccc;
    font-weight: normal;
    text-align: center;
    font-size: 300%;
}
div.page h1 a {
    color: inherit;
    text-decoration: inherit;
}

div.page div.navigation {
    background: none;
    padding: 4px 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #eee;
    color: #888;
    font-size: 14pt;
    letter-spacing: 0.5px;
    text-align: center;
}

div.page div.navigation a {
    color: #444;
    font-weight: bold;
    text-decoration: none;
}

div.page div.navigation a:hover {
    text-decoration: underline;
}

div.page h2 {
    margin: 0 0 15px 0;
    color: #105751;
    text-shadow: 0 1px 2px #ccc;
    text-align: center;
    opacity: 0.5;
}

div.page div.body {
    padding: 10px;
}

div.page div.footer {
    background: #eee;
    color: #888;
    padding: 5px 10px;
    font-size: 12px;
    text-align: center;
}

div.page div.followstatus {
    border: 1px solid #ccc;
    background: #E3EBEA;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 3px;
    font-size: 13px;
}

div.page ul.messages {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.page ul.messages li {
    margin: 10px 0;
    padding: 5px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 5px 5px 10px #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    min-height: 48px;
}

div.page ul.messages p {
    margin: 0;
}
div.page ul.messages p.text {
    font-size: 125%;
}

div.page ul.messages li img {
    float: left;
    padding: 0 10px 0 0;
    height: 46px;
}

div.page ul.messages li small {
    float: right;
    font-size: 0.9em;
    color: #888;
}

div.page div.twitbox {
    margin: 10px 0;
    padding: 5px;
    background: #F0FAF9;
    border: 1px solid #94E2DA;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
}

div.page div.twitbox h3 {
    margin: 0;
    font-size: 1em;
    color: #2C7E76;
}

div.page div.twitbox p {
    margin: 0;
}

div.page div.twitbox input[type="text"] {
    width: auto;
    min-width: 16em;
    font-size: 150%;
}

div.page div.twitbox input[type="submit"] {
    margin-left: 5px;
    font-size: 150%;
}

ul.flashes {
    list-style: none;
    margin: 10px 10px 0 10px;
    padding: 0;
}

ul.flashes li {
    background: #B9F3ED;
    border: 1px solid #81CEC6;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

div.error {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

div.metadesc img.portrait {
    height: 14em;
    margin-right: 2em;
    float: left;
}

div.metadesc {
    clear: both;
    min-height: 200px;
}

div.page ul.messages p.text {
    margin: 3pt;
}
.portraits li a img {
    border: 1px solid transparent;
    padding: 2px;
}
.portraits li a:hover img {
    border: 1px solid black;
}

form.login {
    margin: 2%;
}

a button {
    font-size: 140%; 
    border-radius: 5px; padding: 6px;
    border:1px solid #444; color: #444;
}

button.green {
    background-color: #cfd; 
}

a button:hover {
    cursor: pointer; 
    background-color: #efd;
    border-color: #000;
    color: #000;
}