{% extends "layout.html" %}
{% block title %}
  About
{% endblock %}
{% block body %}
  <h2>About this project</h2>
<blockquote> 
<p>Sign up. Log in. Click “adopt a portrait” to choose your historical alter ego. Post something. Be *in character*! Remember, these people lived in the mid 1800s, were considered deviant or even criminal and marginalized by society.</p> 

<p>This is a concept for an gamified social media platform / art installation aiming to explore alternate identity, reflect on the usurping of privacy through facial recognition technology, and make use of historic digitized photographs in the Public Domain to recreate personas from the past.</p>

<p><a href="https://www.dropbox.com/sc/5cb7pnynlthgntb/AAC3B6eVnTzAjOVL7yvqb7Uga/1" class="media" title="https://www.dropbox.com/sc/5cb7pnynlthgntb/AAC3B6eVnTzAjOVL7yvqb7Uga/1" rel="nofollow"><img src="http://make.opendata.ch/wiki/_media/project:screenshot-portraitid.jpg"></a></p>

<p>The counterpart to this web application is an Augmented Reality installation which lets you discover portraits by looking into a magic mirror. See videos on <a href="https://twitter.com/loleg/status/590113561940258816" class="urlextern" title="https://twitter.com/loleg/status/590113561940258816" rel="nofollow">Twitter</a> or <a href="https://instagram.com/p/1skc54JKbp/" class="urlextern" title="https://instagram.com/p/1skc54JKbp/" rel="nofollow">Instagram</a>.</p>

<p><a href="https://www.wuala.com/loleg/Portrait%20Domain/Portrait%20Domains%20-%20Concept.pdf/?key=NubR2zfgjp3w">Read more here</a></p>
</blockquote>
{% endblock %}
