<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}Welcome{% endblock %} | Portrait Id</title>
<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic' rel='stylesheet' type='text/css'>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1 class=title><a href="{{ url_for('public_timeline') }}">Portrait Id</a></h1>
  <div class=navigation>
  {% if g.user %}
    <a href="{{ url_for('portraits') }}">select portrait</a> (1852-1853) |
    <a href="{{ url_for('timeline') }}">my timeline</a> |
    <a href="{{ url_for('public_timeline') }}">home/road</a>
  {% else %}
    <a href="{{ url_for('public_timeline') }}">home/road</a> |
    <a href="{{ url_for('register') }}">sign up</a> |
    <a href="{{ url_for('login') }}">sign in</a>
  {% endif %}
     |
    <a href="{{ url_for('about') }}">about</a>
     &nbsp;
    <form method="get" action="/search" style="display:inline">
      <input type="text" name="q" value=""><button type="submit">look</button>
    </form>
  </div>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class=flashes>
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class=body>
  {% block body %}{% endblock %}
  </div>
  <div class=footer>
    CC BY-SA 4.0
    &bull;
    A <a href="http://make.opendata.ch/wiki/" target="_blank">Make.Opendata.ch</a> project
    &bull;
    <a href="http://utou.ch">Contact</a>
    &bull;
    <a href="https://github.com/loleg/portraitdomain-web">Source Code</a>
  {% if g.user %}
    &bull;
    <a href="{{ url_for('logout') }}">sign out [{{ g.user.username }}]</a>
  {% endif %}
  </div>
</div>
